<!DOCTYPE html>
<html lang="da">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Gulp template</title>
	<link rel="stylesheet" href="/assets/css/style.css">
	<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Anton&display=swap" rel="stylesheet">
</head>
<body>
	<header class="header_header">
		<nav class="header_nav">
			<li class="nav_li">Woods</li>
			<li class="nav_li">Beaches</li>
			<li class="nav_li">Hikings</li>
		</nav>
		<section class="background_img">
			<div class="wrapper">
			<h1 class="background_img_h1">
				Join The Revolution
			</h1>
		</div>

		</section>
	</header>