<header class="header_header">
		
    <section class="background_img">
        <div class="wrapper">
         <h1 class="background_img_h1">
            Join The Revolution
         </h1>
       </div>

    </section>
</header>