<nav class="header_nav">
    <a href="../index.html"> <li  class="nav_li">Home</li></a>
    <a href="../woods/index.html"> <li  class="nav_li">Woods</li></a>
    <a href="../beach/index.html">	<li class="nav_li">Beaches</li></a>
    <a href="../hike/index.html"> <li class="nav_li">Hikings</li></a>
    <a href="../map/index.html"><li class="nav_li">Map</li></a>
</nav>