<nav class="header_nav">
    <a href="./woods/index.html"> <li  class="nav_li">Woods</li></a>
    <a href="./beach.html">	<li class="nav_li">Beaches</li></a>
    <a href="./hike.html"> <li class="nav_li">Hikings</li></a>
</nav>