<% include ../partials/nav %>
<% include ../partials/head %>
<main class="main2">
    <section class="section_title_loc">
        <h1 class="section_h1_loc">The Most Beautiful Beaches in the World</h1>
    </section>
    <section class="main_section_loc">
        <div class="card">
            <img class="card_img" src="../assets/images/matira.jpg" alt="">
            <div class="container">
                <h2>Matira Beach.</h2>
                <p>has a cute white sands, and palm trees so nice for picture taking and picture for postcard. the water is beautiful so blue.</p>
            </div>
           <a href="https://www.google.dk/maps/place/Matira+Beach/@-16.5374376,-151.7457616,15.34z/data=!4m5!3m4!1s0x76bda2db08c05769:0x67955e571d12f957!8m2!3d-16.5413858!4d-151.7376025"target="_blank"><button class="card_button">Directions</button></a>
        </div>

        <div class="card">
            <img class="card_img" src="../assets/images/grace.jpg" alt="">
            <div class="container">
                <h2>Grace Bay Beach</h2>
                <p>It is one of the most beautiful beaches in the world.
                    It is 19 km of white sand (which also takes pink shades under special conditions ..), with an adventurous turquoise sea.</p>
            </div>
           <a href="https://www.google.dk/maps/place/Grace+Bay+Beach/@21.7980013,-72.1848053,15z/data=!3m1!4b1!4m5!3m4!1s0x894b4f97e3e25cbb:0xcf05e228e2c20c30!8m2!3d21.7980019!4d-72.1760505"target="_blank"><button class="card_button">Directions</button></a>
        </div>

        <div class="card">
            <img class="card_img" src="../assets/images/camps.jpg" alt="">
            <div class="container">
                <h2>Camps Bay Beach</h2>
                <p> Busy beach with white sand, parasol rental, picturesque mountain views and access to bars and restaurants.</p>
            </div>
           <a href="https://www.google.dk/maps/place/Camps+Bay+Beach/@-33.9506695,18.3724004,16z/data=!3m1!4b1!4m5!3m4!1s0x1dcc6653756d46b9:0x310788af50afb3fb!8m2!3d-33.9506605!4d18.3776413"target="_blank"><button class="card_button">Directions</button></a>
        </div>

        <div class="card">
            <img class="card_img" src="../assets/images/railay.jpg" alt="">
            <div class="container">
                <h2>Railay Beach</h2>
                <p>This peninsula with limestone cliffs can only be reached by boat and is popular with climbers and divers.</p>
            </div>
           <a href="https://www.google.dk/maps/place/Railay-stranden/@8.0117401,98.8348164,17z/data=!3m1!4b1!4m5!3m4!1s0x3051ea9e0792e58b:0x61d88bb17c215081!8m2!3d8.011711!4d98.837776"target="_blank"><button class="card_button">Directions</button></a>
        </div>

    </section>

    

</main>

<% include ../partials/after-footer %>