<% include ../partials/nav %>
<% include ../partials/head %>
<main class="main2">
    <section class="section_title_loc">
        <h1 class="section_h1_loc">The Most Beautiful Hikes in the World</h1>
    </section>
    <section class="main_section_loc">
        <div class="card">
            <img class="card_img" src="../assets/images/pennine.jpg" alt="">
            <div class="container">
                <h2>Pennine Way</h2>
                <p>The Pennine Way is a National Trail in England, with a small section in Scotland. The trail stretches for 268 miles (431 km)[1] from Edale, in the northern Derbyshire Peak District, north through the Yorkshire Dales and Northumberland National Park and ends at Kirk Yetholm, just inside the Scottish border. The path runs along the Pennine hills, sometimes described as the "backbone of England".[</p>
            </div>
           <a href="https://www.google.dk/maps/place/Pennine+Way,+Storbritannien/@54.4551729,-2.1638536,16z/data=!4m5!3m4!1s0x488760dd8223f0e3:0x615c53b56b6f18a5!8m2!3d54.4553996!4d-2.1602405"target="_blank"><button class="card_button">Directions</button></a>
        </div>

        <div class="card">
            <img class="card_img" src="../assets/images/camino.jpg" alt="">
            <div class="container">
                <h2>Camino de Santiago de Compostela</h2>
                <p>The Camino is one of the world's most famous pilgrimage routes, leading to the tomb of the Apostle James in the Spanish city of Santiago de Compostela. You can start the walk in several different places, but all end at the Cathedral of Santiago, which also means "Saint James."</p>
            </div>
           <a href="https://www.google.dk/maps/place/Ultreya+Tours+-+Camino+de+Santiago/@42.8801996,-8.5797891,13z/data=!4m8!1m2!2m1!1sCamino+de+Santiago+de+Compostela,+Spain.!3m4!1s0x0:0xb9aeeab354e5f8d2!8m2!3d42.8841247!4d-8.5485435"target="_blank"><button class="card_button">Directions</button></a>
        </div>

        <div class="card">
            <img class="card_img" src="../assets/images/Appalachian.jpg" alt="">
            <div class="container">
                <h2>Appalachian Trail, United States.</h2>
                <p>Its a marked hiking trail in the Eastern United States extending between Springer Mountain in Georgia and Mount Katahdin in Maine.[1] The trail is about 2,200 miles (3,500 km) long. The Appalachian Trail Conservancy describes the Appalachian Trail as the longest hiking-only trail in the world.</p>
            </div>
           <a href="https://www.google.dk/maps/place/Appalachian+Trail,+USA/@40.4785601,-76.5419803,17z/data=!3m1!4b1!4m5!3m4!1s0x4cbac27b1c782ab5:0xbe91ac4ef3eecd62!8m2!3d40.4785601!4d-76.5397916"target="_blank"><button class="card_button">Directions</button></a>
        </div>

        <div class="card">
            <img class="card_img" src="../assets/images/refugio.jpg" alt="">
            <div class="container">
                <h2>Refugio Frey</h2>
                <p>Very nice path that leads us to Frey with its lagoon and views of needles in Cerro Catedral and Toncek lagoon. The sanctuary is very cozy.</p>
            </div>
           <a href="https://www.google.dk/maps/place/Refugio+Frey/@-41.1982652,-71.4882568,17z/data=!4m12!1m6!3m5!1s0x961a6df97763bbcb:0x8a979dbd556aaa0b!2sRefugio+Frey!8m2!3d-41.1982652!4d-71.4860681!3m4!1s0x961a6df97763bbcb:0x8a979dbd556aaa0b!8m2!3d-41.1982652!4d-71.4860681"target="_blank"><button class="card_button">Directions</button></a>
        </div>

    </section>

    

</main>

<% include ../partials/after-footer %>