<% include ../partials/nav %>
<% include ../partials/head %>
<% include ../partials/header %>

<main class="main">

    <section class="main_section">
      <div class="circle_div1">
        <a href="./woods/index.html"><h2 class="circle_div_h2">
                Woods
            </h2></a>
        </div>
        <div class="circle_div2">
           <a href="./beach/index.html"><h2 class="circle_div_h2">
                Beaches
            </h2></a>
        </div>
        <div class="circle_div3">
           <a href="./hiking/index.html"><h2 class="circle_div_h2">
                Hiking
            </h2></a>
        </div>
       
    </section>
</main>

<footer class="footer_footer">
    <div>
    <h2 class="footer_h2">
        Lorem ipsum dolor sit amet.
    </h2>
    <p class="footer_p">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos quam nulla rerum sint commodi accusantium!
    </p>
    </div>

    <div>
        <h2 class="footer_h2">
            Activities
        </h2>
        <p>Exspore some Woods</p>
        <p>Visit some Beaches</p>
        <p>Go on a Hike</p>
    </div>

</footer>
<% include ../partials/after-footer %>