<% include ../partials/head %>
<% include ../partials/nav %>
<main class="main">

    <section class="main_section">
        <div class="circle_div1">
            <h2 class="circle_div_h2">
                Woods
            </h2>
        </div>
        <div class="circle_div2">
            <h2 class="circle_div_h2">
                Beaches
            </h2>
        </div>
        <div class="circle_div3">
            <h2 class="circle_div_h2">
                Hiking
            </h2>
        </div>
       
    </section>
</main>
<% include ../partials/after-footer %>