<% include ../partials/nav %>
<% include ../partials/head %>
<main class="main2">
    <section class="section_title_loc">
        <h1 class="section_h1_loc">The Most Beautiful Forests in the World</h1>
    </section>
    <section class="main_section_loc">
        <div class="card">
            <img class="card_img" src="../assets/images/monteverde.jpeg" alt="">
            <div class="container">
                <h2>Monteverde Cloud Forest Biological Preserve.</h2>
                <p>tropical forest with enormous variety of plant and animal species as well as guided tours and trails.</p>
            </div>
           <a href="https://www.google.dk/maps/place/Monteverde+Cloud+Forest+Biological+Preserve/@10.3026397,-84.7978788,17z/data=!3m1!4b1!4m5!3m4!1s0x8fa0198755ec11cf:0xaf2fb8e79ee9ce66!8m2!3d10.3026397!4d-84.7956901"target="_blank"><button class="card_button">Directions</button></a>
        </div>

        <div class="card">
            <img class="card_img" src="../assets/images/daintree.jpg" alt="">
            <div class="container">
                <h2>Daintree Rainforest</h2>
                <p>Tropical, lowland rainforest with visitor center, a footbridge at a height of 10 meters and a tower in the treetops.</p>
            </div>
           <a href="https://www.google.dk/maps/place/Daintree+Rainforest/@-16.1700308,145.4162725,17z/data=!3m1!4b1!4m5!3m4!1s0x699d573ed18a04cb:0x147c855099501a8f!8m2!3d-16.1700308!4d145.4184612"target="_blank"><button class="card_button">Directions</button></a>
        </div>

        <div class="card">
            <img class="card_img" src="../assets/images/amazons.jpg" alt="">
            <div class="container">
                <h2>Amazon Rainforest</h2>
                <p>Extensive rainforest known for its biodiversity and river of the same name as well as 19th century architecture.</p>
            </div>
           <a href="https://www.google.dk/maps/place/Regnskoven+i+Amazonas/@-3.4653052,-62.2246353,15z/data=!3m1!4b1!4m5!3m4!1s0x91e8605342744385:0x3d3c6dc1394a7fc7!8m2!3d-3.4653053!4d-62.2158805"target="_blank"><button class="card_button">Directions</button></a>
        </div>

        <div class="card">
            <img class="card_img" src="../assets/images/bwindi.png" alt="">
            <div class="container">
                <h2>Bwindi Impenetrable Forest</h2>
                <p>Park in mountainous, dense forest terrain, best known for the opportunity to see the rare mountain gorillas.</p>
            </div>
           <a href="https://www.google.dk/maps/place/Bwindi+Impenetrable/@-1.0587383,29.6447421,14z/data=!4m8!1m2!2m1!1sBwindi+Impenetrable+Forest,+Uganda.+!3m4!1s0x0:0x412c1f73ed7fb889!8m2!3d-1.0337316!4d29.6931642"target="_blank"><button class="card_button">Directions</button></a>
        </div>

    </section>

    

</main>

<% include ../partials/after-footer %>